
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}


.card{
    width:200px;
    background: white;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    margin-top: 100px;
    padding: 20px;
}


img{
    width:200px;
    height:200px;
    border-radius: 8px;
    background-color:rgb(133, 174, 244);
}


#img2{
    width:200px;
    height:200px;
    border-radius: 8px;
    background-color: rgb(198, 170, 241);
}



#img3{
    width:200px;
    height:200px;
    border-radius: 8px;
    background-color:lightblue;
}



button{
    color: white;
    background-color: rgb(54, 91, 211);
    border-radius: 10px;
    border:none;
    text-align: center;
    padding:10px;
    font-size: 15px;
    border: px;
    width: 80%;
    
}

p{
    color: green;
    font-size: 20px;
}

